@page
@model contact_manager.Pages.Contacts.EditModel

@{
    Layout = "../Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Contact.ID" />
            <div class="form-group">
                <label asp-for="Contact.Name" class="control-label"></label>
                <input asp-for="Contact.Name" class="form-control" />
                <span asp-validation-for="Contact.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Surname" class="control-label"></label>
                <input asp-for="Contact.Surname" class="form-control" />
                <span asp-validation-for="Contact.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.PhoneNumber" class="control-label"></label>
                <input asp-for="Contact.PhoneNumber" class="form-control" />
                <span asp-validation-for="Contact.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Email" class="control-label"></label>
                <input asp-for="Contact.Email" class="form-control" />
                <span asp-validation-for="Contact.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Address" class="control-label"></label>
                <input asp-for="Contact.Address" class="form-control" />
                <span asp-validation-for="Contact.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
